// Custom Font - Basier Square

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-semi-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-semi-bold-italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../fonts/basier-square/basier-square-bold-italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// Mono font face
// @font-face {
//   font-family: 'Basier Square';
//   src: url('../fonts/basier-square/basier-square-mono-regular.woff2') format('woff2');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// Custom Font - Caros

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Thin-Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-ExtraLight-Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Light-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Medium-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Bold-Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-ExtraBold-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Heavy-Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caros';
  src: url('../fonts/caros/Caros-Black-Italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}