@import "./custom-fonts.scss";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Transitions
 */
//  Transition speed .1s
.page-enter-active,
.page-leave-active {
  transition: all 0.1s ease;
}

//  Transition speed .2s
.fadeDown-enter-active,
.fadeDown-leave-active,
.fadeUp-enter-active,
.fadeUp-leave-active,
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease;
}

.expandFromTop-enter-active,
.expandFromTop-leave-active,
.expandFromBottom-enter-active,
.expandFromBottom-leave-active {
  transition: all 0.2s ease;
}

// Expand from top
.expandFromTop-enter-from,
.expandFromTop-leave-to {
  transform-origin: top;
  transform: scaleY(0);
}
.expandFromTop-enter-to,
.expandFromTop-leave-from {
  transform-origin: top;
  transform: scaleY(1);
}

// Expand from bottom
.expandFromBottom-enter-from,
.expandFromBottom-leave-to {
  transform-origin: bottom;
  transform: scaleY(0);
}
.expandFromBottom-enter-to,
.expandFromBottom-leave-from {
  transform-origin: bottom;
  transform: scaleY(1);
}

// Fade
.fade-enter-from,
.fade-leave-to,
.fadeDown-enter-from,
.fadeDown-leave-to,
.fadeUp-enter-from,
.fadeUp-leave-to,
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from,
.fadeDown-enter-to,
.fadeDown-leave-from,
.fadeUp-enter-to,
.fadeUp-leave-from {
  opacity: 1;
}

// FadeDown
.fadeDown-enter-from,
.fadeDown-leave-to {
  transform: translateY(-100%);
}

.fadeDown-enter-to,
.fadeDown-leave-from {
  transform: translateY(0);
}

// FadeUp
.fadeUp-enter-from,
.fadeUp-leave-to {
  transform: translateY(100%);
}

.fadeUp-enter-to,
.fadeUp-leave-from {
  transform: translateY(0);
}